<% include partials/header %>
<% include partials/navbar %>

<h6 class="display-3 text-center" style="margin: 0px 10px 20px;padding: 100px;">
    <span style="text-decoration: underline;">EVENTS</span> 
</h6>
<label class="text-monospace text-center" style="width: 1490px;padding: 10px;height: 100px;">Label</label>

<label class="text-monospace text-center" style="width: 1490px;padding: 10px;height: 100px;">Label</label>
    <label
        class="text-monospace text-center" style="width: 1490px;padding: 10px;height: 100px;">Label</label><label class="text-monospace text-center" style="width: 1490px;padding: 10px;height: 100px;">Label</label>
        <script src="assets/js/jquery.min.js"></script>
        <script src="assets/bootstrap/js/bootstrap.min.js"></script>

<% include partials/footer %>
        