<% include partials/header %>
<% include partials/navbar %>

 <div class="row card_catalogue">
    <!-- <div class="grid" data-masonry='{ "itemSelector": ".grid-item", "columnWidth": 200 }'> -->
	<% paintings.forEach(function(painting) { %>
	<div class="col-md-3 col-xs-12 each_card" style="margin-top: 55px">
		<div class="card">
			<img class="card-img-top" src="<%= painting.pimage %>" onerror="this.src='https://via.placeholder.com/450';" alt="Card image cap">
			<div class="card-body">
			
            <a href="/singlepainting/<%= painting._id %>" class="btn btn-primary">By <%= painting.pname %></a>

			</div>
		</div>
	</div>
    <% }); %>
    </div>
</div>

<% include partials/footer %> 