<% include partials/header %>
<% include partials/navbar %>

            <nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light">     
            <a class="navbar-brand" href="#">Artifact Valuing ART</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
      
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                 Filter
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="#">Landscape</a>
                    <a class="dropdown-item" href="#">Protrait</a>
                    <a class="dropdown-item" href="#">Abstract</a>
                </div>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="nav-item active">
                    <a class="nav-link" href="#">EVENTS <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="#">LogOut <span class="sr-only">(current)</span></a>
                </li>
            </ul>
        </div>
      </nav>
   <!-- If logic should be written for this so that all the detais can be fetched-->

        <div class="card-columns">
            <div class="card">
                <img src="1.jpg" class="card-img-top" alt="2.jpg">
                    <div class="card-body">
                        <h3 class="card-title">Artist Name</h3>
                        <h5 class="card-text">Year of painting</h5>
                        <h5 class="card-text">Type of Painting</h5>
                    </div>
            </div>
            
         </div>
    
         <% include partials/footer %>